# Build results
bin/
obj/
Logs/
# User-specific files
.vscode/
*.user
*.suo
# Environment files
.env
.env.*
# Dependency directories
node_modules/
packages/
.vs/*
# Configuration files
appsettings.Development.json
appsettings.json
appsettings.*.json